@import url("./_reset.css");
@import url("./_variables.css");

* {
    box-sizing: border-box;
    font-size: 24px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
}

label {
    color: white;
    font-size: 24px;
}

.searchContainer__section {
    margin-top: 10vh;
    padding: 2em;
    width: 95vw;
    background-color: #49008d;
    min-height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    row-gap: 10px;
}

.formSection__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dropdown {
    border: none;
    width: 100%;
    height: 50px;
}

.input {
    width: 100%;
    height: 50px;
    border: none;
}

.toast__container {
    background: #1f1f1f;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    height: 20vh;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(250, 250, 250, 0.7);
}

.toast__p {
    color: #fff;
    font-size: 1.5rem;
    padding: 0 10px;
    margin-bottom: 5px;
    white-space: wrap;
    text-align: center;
}

.toast__small {
    color: #fff;
    font-size: 1rem;
}

.mainContainer__main {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 95vw;
}

.card {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.songName__p {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}

.infoContainer__div {
    align-self: end;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
}

audio {
    height: 60px;
}
